*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    color: #777;
    font-family: 'Courier New', Courier, monospace;
    }
.image1{
    background-image: url("a.jpg");
    min-height: 100vh;
}
.image2{
    background-image: url("b.jpg");
    min-height: 400px;
}
.image3{
    background-image: url("c.jpg");
    min-height: 400px;
}
.text{
    position: absolute;
    left: 31%;
    top: 39%;
    color: #000;
}
span.span-text{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 30px;
    letter-spacing: 8px;
}
.text-block{
    color: black;
    text-align: center;
    padding: 50px 80px;
}
.text-block2{
    
    background-color: #1C2226;
    color: whitesmoke;
    text-align: center;
    padding: 50px 80px;
}
h1{
    margin: 5px;
}
.image1, .image2, .image3{
    background-size: cover;
    opacity: 0.65;
    background-position: center;
    background-attachment: fixed;
}
